#top {
    color:black; 
    font-family: elsie; 
    background-color:#316ceb;
}

#fondo{ 
    background-color: #FFFFFF;
}

#encabezados{
    color:rgb(255, 255, 255); 
    font-family: elsie;
    text-align: center;
}
#collapse:hover {
    background-color:#2950a3;
}

